:root {
  --accent-color: #2196f3;
  --section-background-color: #2f303a;
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --third-title-color: #212121;
  --main-text-color: #757575;
  --main-btn-color: #ffffff;
  --second-btn-color: #212121;
  --header-text-color: #212121;
  --btn-background-color: #f5f4fa;
  --header-second-text-color: #757575;
  --footer-text-color: #ffffff;
  --footer-second-text-color: rgba(255, 255, 255, 0.6);
  --header-logo-second-part-color: #000000;
  --footer-logo-second-part-color: #ffffff;
  --icon-color: #afb1b8;
  --icon-hover-color: #ffffff;
  --footer-icons-background-color: rgba(255, 255, 255, 0.1);
  --main-content-background-color: #f5f4fa;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ------------------------------- HEADER------------------------------------- */

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
}

.header-navigation {
  display: flex;
}

.header-list {
  display: flex;
}

.header-contacts-list {
  display: flex;
}

.header-contact {
  margin-left: auto;
}

.header-logo {
  margin-right: 90px;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-tel {
  margin-left: 50px;
}

/* Logo */

.header-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  padding-top: 24px;
  padding-bottom: 25px;
  display: block;
}

.header-logo-second-part {
  color: var(--header-logo-second-part-color);
}

/* Navigation */

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.header-link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  position: absolute;
  display: block;
  bottom: -5px;
  border-radius: 2px;
}

.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-second-text-color);
  fill: var(--header-second-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.header-mail-icon {
  margin-right: 10px;
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-second-text-color);
  fill: var(--header-second-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.header-tel-icon {
  margin-right: 10px;
}

/* ------------------------------- MAIN CONTENT------------------------------------- */

/* Hero section */

.hero {
  background-color: var(--section-background-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
  display: block;
  margin-bottom: 30px;
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-btn-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  min-width: 200px;
  height: 50px;
  align-items: center;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  margin: 0 auto;
}

.hero-container {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  padding: 200px 0;
}

/* About section */

.about-item {
  width: 270px;
}

.about-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
  margin-bottom: 10px;
}

.about-item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-list {
  display: flex;
}

.about-item-icon {
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: var(--main-content-background-color);
}

/* Description section */

.description-section {
  padding-top: 0;
}

.description-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 50px;
}

.description-list {
  display: flex;
}

.description-item:not(:last-child) {
  margin-right: 30px;
}

.description-item {
  position: relative;
}

.description-item-text {
  display: flex;
  position: absolute;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  align-items: center;
  justify-content: center;
  width: 370px;
  min-height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

/* Team section */

.team-section {
  background-color: var(--main-content-background-color);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 50px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-title-color);
  margin-bottom: 10px;
}

.team-occupation {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 16px;
}

.team-list {
  display: flex;
}

.team-item {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-item-description {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-social-item {
  width: 44px;
  height: 44px;
}

.team-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
  color: var(--icon-hover-color);
}

.team-social-list {
  display: flex;
  justify-content: center;
}

.team-social-item + .team-social-item {
  margin-left: 10px;
}

.team-social-icon {
  fill: currentColor;
}

/* Clients section */

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clients-link {
  color: var(--icon-color);
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--icon-color);
  box-sizing: border-box;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  box-sizing: border-box;
  border-radius: 4px;
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

/* ------------------------------- FOOTER ------------------------------------- */

/* Logo */

.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  display: block;
  margin-bottom: 20px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--section-background-color);
}

.footer-logo-second-part {
  color: var(--footer-logo-second-part-color);
}

/* Address */

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-box {
  margin-right: 70px;
}

.footer-address {
  font-style: normal;
}

.footer-address-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
  display: block;
  margin-bottom: 9px;
}

.footer-mail-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-second-text-color);
  display: block;
  margin-bottom: 9px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail-item:hover,
.footer-mail-item:focus {
  color: var(--accent-color);
}

.footer-tel-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-second-text-color);
  display: block;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-tel-item:hover,
.footer-tel-item:focus {
  color: var(--accent-color);
}

.social-links-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-text-color);
  margin-bottom: 20px;
}

.social-links-icons-list {
  display: flex;
}

.social-links-icon-item + .social-links-icon-item {
  margin-left: 10px;
}

.social-links-icon-item {
  width: 44px;
  height: 44px;
}

.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--footer-icons-background-color);
  fill: var(--icon-hover-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

/* ------------------------------- MAIN CONTENT FOR PORTFOLIO PAGE ------------------------------------- */

/* Portfolio section */

.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-btn-color);
  background-color: var(--btn-background-color);
  cursor: pointer;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--main-btn-color);
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-item-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--third-title-color);
}

.portfolio-item-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.portfolio-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  cursor: pointer;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-item-description-section {
  padding: 20px 24px;
  display: block;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-item-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-item-text {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  height: 100%;
  color: #ffffff;
  overflow: hidden;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-item-text {
  transform: translateY(0);
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 1000ms, visibility 1000ms;
}

.backdrop.is-hidden .modal {
  transform: translateX(1000px) rotate(180deg);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
